<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Tasty!</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Blog -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- JavaScript -->
  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>

<body>

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Tasty</a>

    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

      {% with anon_user = current_user.is_anonymous() %}
      {% if anon_user %}
        <li><a href="/login">Log In</a></li>
      {% endif %}
      {% endwith %}

      {% with auth_user = current_user.is_authenticated() %}
      {% if auth_user %}
        <li><a href="/flavor/add">Add Flavor</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">My Flavors</a></li>
            <li><a href="#">Favorite Flavors</a></li>
            <li class="divider"></li>
            <li><a href="#">My Account</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      {% endif %}
      {% endwith %}

      </ul>
    </div>

  </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container">
  {% block content %}{% endblock %}
</div>

</body>
</html>