{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

  {% for flavor in flavors %}

    {{ macros.render_flavor(flavor) }}

  {% endfor %}

  <ul class="pager">

    {% if has_next %}
      <li class="previous" >
        <a href="{{ url_for('main_tasty', page=page + 1) }}">&larr; Older</a>
      </li>
    {% endif %}

    {% if has_prev %}
      <li class="next">
        <a href="{{ url_for('main_tasty', page=page - 1) }}">&rarr; Newer</a>
      </li>
    {% endif %}

  </ul>

{% endblock %}