{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="row">

  <div class="col-md-2 text-right metadata">

    <h3><a href="/flavor/{{ flavor.id }}">{{ flavor.name }}  </a></h3>
    <form action="/match/{{ flavor.id }}">
        <button class="btn btn-default" type="submit">Edit Flavor Pairings</button>
    </form>
    {%  if  current_user.admin %}
    <form action="/default_match/{{ flavor.id }}">
        <button class="btn btn-default" type="submit">Edit DEFAULT Pairings</button>
    </form>
    {% endif %}

  </div>

  <div class="col-md-10">

        {{ macros.matched_relink(all_matches, flavor) }}

  </div>

{% endblock %}