{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

{% for flavor in flavors %}

  <div class="row">

    <div class="col-md-2 text-right metadata">

      <h3><a href="/flavor/{{ flavor.id }}">{{ flavor.name }}  </a></h3>

    </div>

    <div class="col-md-10">

          {{ macros.inline_match_list(flavor) }}

    </div>
  </div> <!-- /.row -->

{% endfor %}

  <ul class="pager">

    {% if has_next %}
      <li class="previous" >
        <a href="{{ url_for('view_flavors_list', page=page + 1) }}">&larr; Older</a>
      </li>
    {% endif %}

    {% if has_prev %}
      <li class="next">
        <a href="{{ url_for('view_flavors_list', page=page - 1) }}">&rarr; Newer</a>
      </li>
    {% endif %}

  </ul>

{% endblock %}