{% macro inline_match_list(flavor) %}

<ul class="match">
{% if flavor.matches %}
  {%  for match in flavor.matches %}
  <li><a href="/flavor/{{ match.id }}">{{ match.name }}  </a></li>
  {% endfor %}
{% else %}
  <li>No matches yet!  </li>
  <li>Why not add some?</li>
{% endif %}
</ul>

{% endmacro %}


{% macro matched_list(flavor) %}

<ul>
{% if flavor.matches %}
  {%  for match in flavor.matches %}
  <li class="list-group-item"><a href="/unmatch/{{ flavor.id }}/{{ match.id }}">{{ match.name }}  </a></li>
  {% endfor %}
{% else %}
  <li class="list-group-item">No matches yet!  </li>
  <li class="list-group-item">Why not add some?</li>
  <li class="list-group-item">No matches yet!  </li>
  <li class="list-group-item">Why not add some?</li>
  <li class="list-group-item">No matches yet!  </li>
  <li class="list-group-item">Why not add some?</li>
{% endif %}
</ul>

{% endmacro %}


{% macro unmatched_list(unmatched_flavors, flavor) %}

<ul>
{% if unmatched_flavors %}
  {%  for f in unmatched_flavors %}
  <li class="list-group-item"><a href="/match/{{ flavor.id }}/{{ f.id }}">{{ f.name }}  </a></li>
  {% endfor %}
{% else %}
  <li class="list-group-item">No more flavors!  </li>
  <li class="list-group-item">Why not add some?</li>
  <li class="list-group-item">No more flavors! </li>
  <li class="list-group-item">Why not add some?</li>
  <li class="list-group-item">No more flavors! </li>
  <li class="list-group-item">Why not add some?</li>
{% endif %}
</ul>

{% endmacro %}